/* * {
    border: 1px solid black;
} */

h1 {
    color: white;
    text-align: center;
    margin: auto;
}

#content-div {
    background: black;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#turn-div {
    font-size: 30px;
    color: white;
    background: black;
    position: absolute;
    left: 10%;
    top: 50%;
}


#message-div {
    color: white;
    font-size: 26px;
    text-align: center;
    height: 30px;
    width: 200px;
}

#board-div {
    color: white;
    background: white;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-template-rows: repeat(3, minmax(0,1fr));
    grid-gap:1px;
    height: 50vh;
    width: 30%;
    margin: auto;
    min-width: 400px;
}

.game-grid {

    font-weight: bold;
    font-size: 300%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.game-grid:hover {
    color: rgb(0, 0, 0);
    background: rgb(221, 221, 221);
    border:solid 5px rgb(36, 36, 36);
}


#btn-reset {
    margin-bottom: 15px;
}