/* * {
    border: 1px solid black;
} */

#content-div {
    min-height: 95vh;
    display: flex;
}


#board-div {
    background: black;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap:3px;
    height: 50vh;
    width: 30%;
    margin: auto;

}

.board-square {
    font-weight: bold;
    font-size: 300%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}


.board-square:hover {
    background: rgb(240, 240, 240);
}
